@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  color-scheme: light;
}

@layer base {
  body {
    @apply bg-neutral-50 font-sans text-neutral-900 antialiased;
  }
  a:focus-visible,
  button:focus-visible,
  input:focus-visible,
  select:focus-visible,
  textarea:focus-visible {
    @apply outline-none ring-2 ring-neutral-900 ring-offset-1;
  }
}
